<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Aday Ekle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #candidateForm="ngForm" (ngSubmit)="create()">
    <ion-item>
      <ion-label position="stacked">Ad</ion-label>
      <ion-input type="text" name="firstName" [(ngModel)]="formData.firstName" #firstName="ngModel" required minlength="3" maxlength="30"></ion-input>
      <ion-note *ngIf="firstName.invalid && firstName.touched" color="danger">
        <small *ngIf="firstName.errors?.['required']">Adınız boş bırakılamaz!</small>
        <small *ngIf="firstName.errors?.['minlength']">Adınız en az 3 karakter olmalı.</small>
        <small *ngIf="firstName.errors?.['maxlength']">Adınız 30 karakterden uzun olamaz.</small>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Soyad</ion-label>
      <ion-input type="text" name="lastName" [(ngModel)]="formData.lastName" #lastName="ngModel" required minlength="3" maxlength="30"></ion-input>
      <ion-note *ngIf="lastName.invalid && lastName.touched" color="danger">
        <small *ngIf="lastName.errors?.['required']">Soyadınız boş bırakılamaz!</small>
        <small *ngIf="lastName.errors?.['minlength']">Soyadınız en az 3 karakter olmalı.</small>
        <small *ngIf="lastName.errors?.['maxlength']">Soyadınız 30 karakterden uzun olamaz.</small>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Pozisyon</ion-label>
      <ion-input type="text" name="position" [(ngModel)]="formData.position" #position="ngModel" required minlength="3" maxlength="50"></ion-input>
      <ion-note *ngIf="position.invalid && position.touched" color="danger">
        <small *ngIf="position.errors?.['required']">Pozisyon bilgisi boş bırakılamaz!</small>
        <small *ngIf="position.errors?.['minlength']">Pozisyon bilgisi en az 3 karakter olmalı.</small>
        <small *ngIf="position.errors?.['maxlength']">Pozisyon bilgisi 50 karakterden uzun olamaz.</small>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Askerlik Durumu</ion-label>
      <ion-select name="militaryStatus" [(ngModel)]="formData.militaryStatus" #militaryStatus="ngModel" required>
        <ion-select-option value="TECILLI">Tecilli</ion-select-option>
        <ion-select-option value="MUAF">Muaf</ion-select-option>
        <ion-select-option value="TAMAMLANDI">Tamamlandı</ion-select-option>
      </ion-select>
      <ion-note *ngIf="militaryStatus.invalid && militaryStatus.touched" color="danger">
        <small *ngIf="militaryStatus.errors?.['required']">Askerlik durumu boş bırakılamaz!</small>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">İhbar Süresi</ion-label>
      <ion-input type="date" name="noticePeriod" [(ngModel)]="formData.noticePeriod" #noticePeriod="ngModel" required></ion-input>
      <ion-note *ngIf="noticePeriod.invalid && noticePeriod.touched" color="danger">
        <small *ngIf="noticePeriod.errors?.['required']">İhbar süresi boş bırakılamaz!</small>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefon</ion-label>
      <ion-input type="tel" name="phone" [(ngModel)]="formData.phone" #phone="ngModel" required pattern="^\d{10}$"></ion-input>
      <ion-note *ngIf="phone.invalid && phone.touched" color="danger">
        <small *ngIf="phone.errors?.['required']">Telefon numarası boş bırakılamaz!</small>
        <small *ngIf="phone.errors?.['pattern']">Telefon numarası 10 haneli olmalı!</small>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="formData.email" #email="ngModel" required minlength="3" maxlength="50" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"></ion-input>
      <ion-note *ngIf="email.invalid && email.touched" color="danger">
        <small *ngIf="email.errors?.['required']">Email boş bırakılamaz!</small>
        <small *ngIf="email.errors?.['minlength']">Email en az 3 karakter olmalı!</small>
        <small *ngIf="email.errors?.['maxlength']">Email 50 karakterden uzun olamaz!</small>
        <small *ngIf="email.errors?.['pattern']">Geçersiz Email biçimi!</small>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CV</ion-label>
      <ion-input type="text" name="cv" [(ngModel)]="formData.cv" #cv="ngModel" required minlength="3" maxlength="50"></ion-input>
      <ion-note *ngIf="cv.invalid && cv.touched" color="danger">
        <small *ngIf="cv.errors?.['required']">CV boş bırakılamaz!</small>
        <small *ngIf="cv.errors?.['minlength']">CV en az 3 karakter olmalı.</small>
        <small *ngIf="cv.errors?.['maxlength']">CV 50 karakterden uzun olamaz.</small>
      </ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="candidateForm.invalid">Oluştur</ion-button>
  </form>
</ion-content>
